@import "tailwindcss";

.bg-corinthians {
  background-image: url('/img/Corinthians-bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.corinthians-top {
  background-image: url('/img/corinthians-top.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.corinthians-logo {
  background-image: url('/corinthians-logo.svg');
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.libertadores {
  background-image: url('/img/libertadores.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}

.time  {
  background-image: url('/img/time.png');
  background-position: center;
  background-repeat: no-repeat;
  
}

.mundial-bg {
  background-image: url('/img/mundial-bg.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

.taca {
  background-image: url('/img/taca.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;}

.card-bg {
  background-image: url('https://i.ytimg.com/vi/2mzemy0JHl8/maxresdefault.jpg');
  background-size: cover;
  background-position: center;
}

.libertadores-bg {
  background-image: url('/img/libertadores-bg.jpeg');
  background-size: cover;
  background-position: center;
}

.time-mundial {
  background-image: url('https://a.espncdn.com/photo/2020/1117/r777229_1296x729_16-9.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.bg-galeria {
  background-image: url('https://i.pinimg.com/736x/9f/b8/a0/9fb8a0210acac0e27a02aae195edc086.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timao-galery {
  background-image: url('https://www.meutimao.com.br/_upload/wallpapers/camisa_2013_lb_1600x900.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; /* Essencial para que a máscara se posicione corretamente */
}

.timao-galery::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Ajuste a transparência (0.0 a 1.0) aqui */
  z-index: 1; /* Garante que a máscara fique sobre a imagem de fundo */
}